* {
  font-family: 'Inter', sans-serif;
  /* text-align: center; */
  background-color: #FBF6EA !important;
}

input, textarea {
  border: none;
  outline: none;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: transparent;
  border-bottom: 2px solid #ccc; /* Thin bottom line */
  transition: border-color 0.3s ease-in-out;
}

button {
  font-size: 1.5rem;
}

.btn-green {
  background-color: #5cb286 !important; /* Green background */
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  color: white; /* White text color */
  padding: 8px;
  border: none;
  border-radius: 30px !important;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-green:hover {
  background-color: #218838 !important; /* Darker green on hover */
}

.btn-orange {
  background-color: #f17453 !important; /* Green background */
  color: white; /* White text color */
  padding: 8px;
  border: none;
  border-radius: 30px !important;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-orange:hover {
  background-color: #d25b00 !important; /* Darker green on hover */
}

input:focus, textarea:focus {
  border-bottom: 2px solid #ff8800; /* Highlight color on focus */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
